{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 style="text-align: center">WHERE TO FIND US</h1>
                <p>Find us at some address at some place.</p>
                <img src="../../جنگو/coffee.jpg" height="806" width="1200" alt=""/>
                <p>FYI! We offer full-service catering for any event, large or small. We<br>
                    understand your needs and we will cater the food to satisfy the biggerst<br>
                    criteria of them all, both look and taste.<br></p>
            </div>
            <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <p>Reserve a table, ask for today's special or just send us a message:</p>
                                        <form action="" target="_blank">
                                            <p><input class="input padding-16 border" type="text" placeholder="Name" required="" name="Name"></p>
                                            <p><input class="input padding-16 border" type="number" placeholder="How many people" required="" name="People"></p>
                                            <p><input class="input padding-16 border" type="datetime-local" placeholder="Date and time" required="" name="date" value="2020-11-16T20:00"></p>
                                            <p><input class="input padding-16 border" type="text" placeholder="Message \ Special requirements" required="" name="Message">
                                            </p>
                                            <p>
                                                <button class="button" type="submit">SEND MESSAGE</button>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

        </div>


    </div>
{% end block %}